{
  "presets": [
    "env",
    "stage-2"{{#flow}},
    "flow-vue"{{/flow}}
  ],
  "plugins": [
    "transform-runtime"
  ],
  env: {
    "test": {
      "plugins": ["istanbul"],
      "presets": ["power-assert"]
    }
  }
}
